.Article {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: flexo, sans-serif;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 10px;
  cursor: pointer;
}

.PreSearchArticle {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: flexo, sans-serif;
  border-top: 1px solid #333;
  box-sizing: border-box;
}

.Article:hover, .PreSearchArticle:hover{
  background-color: rgba(255, 255, 255, 0.08);
}

.ArticleTitle {
  display: flex;
  padding: 16px 12px 8px;
  font-size: 16px;
  align-items: flex-start;
  color: #f5f5f5;
}

.ArticleTitle svg {
  margin-right: 5px;
}

.ArticleDesc {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: flexo, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

.ArticleBrief {
  word-break: break-all;
  padding: 0 12px 8px;
  color: #f5f5f5;
}

.ArticleAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f5f5f5;
}

.ArticleIcon {
  display: flex;
  flex-direction: row;
  text-align: start;
  font-family: flexo, sans-serif;
  font-size: 12px;
  align-items: flex-end;
  padding: 12px;
}

.Dot {
  font-size: 24px;
  line-height: 12px;
  padding: 0 10px;
  color: #777 !important;
  position: relative;
  bottom: 2px;
}

.ArticleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f5f5f5;
}

.ArticleInfo svg {
  font-size: 20px;
  padding-right: 5px;
}

.InfoNum {
  position: relative;
  top: 1px;
}

.UserPreview {
  padding: 12px;
  display: flex;
  border-top: 1px solid #333;
  font-family: flexo, sans-serif;
  text-align: start;
}

.UserMainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.UserHeader {
  display: flex;
}

.UserInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.Username {
  font-size: 20px;
  line-height: 20px;
  color: #f5f5f5;
}

.UserDesc {
  font-size: 12px;
  line-height: 12px;
}

.UserContent {
  margin-top: 6px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  font-size: 12px;
  padding: 0 12px;
}

.UserDot {
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px;
  color: #777 !important;
  position: relative;
  top: 2px;
}

.UserPreviewInfo {
  display: flex;
  align-items: center;
}

.UserPreviewInfo svg {
  font-size: 20px;
  padding-right: 5px;
}

.UserActionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
