.CommentContainer {
  display: flex;
  flex-direction: column;
  padding: 6px 12px 0;
  border: 1px solid rgba(255, 255, 255, 0.28);
  color: rgba(255, 255, 255, 0.78);
}

.MiniCommentContainer {
  padding: 6px;
}

.CommentTitle {
  font-size: 16px;
  text-align: start;
  margin-bottom: 10px;
  font-family: flexo, sans-serif;
}

.CommentInput {
  border-color: rgba(255, 255, 255, 0.28) !important;
  margin-left: 10px !important;
}

.CommentInput div {
  height: 40px;
}

.CommentInput fieldset {
  border-color: rgba(255, 255, 255, 0.28) !important;
}

.CommentInput label {
  color: rgba(255, 255, 255, 0.48) !important;
  transform: translate(14px, 13px) scale(1);
}

.CommentBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  font-family: flexo, sans-serif;
}

.MiniCommentBox {
  margin-bottom: 6px;
}

.CommentAvatar {
  margin: 2px 5px;
}

.MiniCommentAvatar {
  margin: 2px 12px 2px 5px;
}

.CommentDirIcon {
  background: rgb(0, 0, 0);
  border: 1px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.28);
  border-left-color: rgba(255, 255, 255, 0.28);
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  left: 6px;
  position: relative;
  top: 11px;
  transform: rotate(45deg);
  z-index: 3;
}

.CommentBorder {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  flex-direction: column;
  text-align: initial;
}

.MiniCommentBorder {
  padding: 0 6px;
}

.CommentBtn {
  width: 60px;
  margin: 10px 0 !important;
  border: 1px solid rgba(255, 255, 255, 0.48) !important;
  position: relative;
  left: calc(100% - 64px);
}

.CommentRender {
  transform: scale(0.8);
  transform-origin: 0 0;
  width: 125%;
}

.MiniCommentRender {
  font-size: 12px;
}

.CommentInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: flexo, sans-serif;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 6px;
}

.CommentDot {
  font-size: 24px;
  line-height: 24px;
  padding: 0 10px;
  color: #777 !important;
  position: relative;
  top: 1px;
}

.CommentDate {
  font-size: 12px;
}

.CommentReply {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

.CommentReply:hover {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: underline;
}
