body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

@font-face {
  font-family: 'flexo';
  src: url("./assets/fonts/Flexo-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

.Underline:hover:not(.disabled):before, .Underline:before {
  border-color: #D2D2D2 !important;
  border-width: 1px !important;
}

.Underline:hover:not(.disabled):before, :before {
  border-color: #D2D2D2 !important;
  border-width: 1px !important;
}

.MuiButton-root, .MuiTab-root {
  text-transform: capitalize !important;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}
