.CollectionContainer {
  padding-top: 60px;
}

.Motto {
  font-family: Slidefu, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ccc;
}

.Motto svg {
  vertical-align: middle;
  font-size: 2rem;
}

.Collection {
  width: 88%;
  margin: 0 auto 60px;
  background-color: #111 !important;
  font-family: flexo, sans-serif;
}

.Collection span {
  text-align: left !important;
  font-size: 1.2rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1
}

.Collection p {
  text-align: left !important;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.CollectionIco {
  background-color: #fff;
}

.CollectionIco img {
  width: 75%;
  height: 75%;
}

.CollectionUserBar {
  flex-direction: row-reverse;
}

.CollectionUser {
  width: 32px !important;
  height: 32px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
}

.CollectionUser img {
  width: 75%;
  height: 75%;
}

.CollectionUserMini {
  width: 24px !important;
  height: 24px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
}

.CollectionUserMini img {
  width: 75%;
  height: 75%;
}
