.DatasetContentContainer {
  width: 88%;
  margin: 0 auto;
  padding-top: 84px;
  font-family: flexo, sans-serif;
  display: flex;
  justify-content: space-between;
}

.PreviewContainer {
  width: calc(50% - 58px);
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  font-family: flexo, sans-serif;
  text-align: initial;
  padding: 20px;
}

.VerticalDivider {
  background-color: #333;
  margin-bottom: 10px !important;
}

.EditorContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(50% - 18px);
}

.TitleBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: flex-end;
}

.InputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  justify-content: space-between;
}

.TitleInput fieldset {
  border-color: rgba(255, 255, 255, 0.48) !important;
}

.TitleInput label {
  color: rgba(255, 255, 255, 0.48) !important;
  transform: translate(14px, 13px) scale(1);
}

.FilePondBox {
  width: 240px;
  margin-left: 12px;
  flex-shrink: 0;
}

.Body {
  margin-top: 20px;
}

.EditorBar {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.EditorBtn {
  margin: 24px 0 !important;
  border: 1px solid rgba(255, 255, 255, 0.68) !important;
  position: absolute !important;
  z-index: 3;
  right: calc(6% + 4px);
}
